<!-- Adsense Top 2 -->

{% if site.adsense %}
<table cellpadding="0" cellspacing="0" table width="100%">
  <tr> 
    <td width="100%"> 
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Bugmaker 반응형 1 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-2962708026533144"
           data-ad-slot="4870656279"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
  </tr>
  <tr>
    <td width="100%"> 
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Bugmaker 반응형 2 -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-2962708026533144"
           data-ad-slot="6347389474"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td> 
  </tr> 
</table>
{% endif %}
<!--
<table cellpadding="0" cellspacing="0" table width="100%">
  <tr> 
    <td width="50%"> 
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:336px;height:280px"
           data-ad-client="ca-pub-2962708026533144"
           data-ad-slot="5348334277"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td>
    <td width="50%"> 
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:336px;height:280px"
           data-ad-client="ca-pub-2962708026533144"
           data-ad-slot="6825067472"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </td> 
  </tr> 
</table>
{% endif %}
-->
