<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Posts<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                    
                    {% assign tags_list = site.categories %}  
                      {% if tags_list.first[0] == null %}
                        {% for tag in tags_list %} 
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.url }}/categories/#{{ tag }}">{{ tag | capitalize }} <sup>{{ site.tags[tag].size }}</sup></a></li>
                        {% endfor %}
                      {% else %}
                        {% for tag in tags_list %} 
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.url }}/categories/#{{ tag[0] }}">{{ tag[0] | capitalize }} <sup>{{ tag[1].size }}</sup></a></li>
                        {% endfor %}
                      {% endif %}
                    {% assign tags_list = nil %}
<!-- 
                    <li role="presentation" class="dropdown-header">Android</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/">Librarys</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/">UI Sample</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.baseurl }}/">Favorite link</a></li>

 -->
                  </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!--{% include googleSearch.html %}-->
                    {% include adsenseSearch.html %}
                </li>
            </ul>
                <!--
                <li class="dropdown">
                  <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown 2 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li id="fat-menu" class="dropdown">
                  <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Dropdown 3 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                  </ul>
                </li>
              </ul>
              -->
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Home</a>
                </li>
   


                <li>
                    <a href="{{ site.baseurl }}/blog/">Articles</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/about/">About</a>
                </li>

                <li>
                    <a href="http://prose.io/">Admin</a>
                </li>

                <li>
                    <a id="drop6" role="button" data-toggle="dropdown" href="#">Dropdown 3 <span class="caret"></span></a>
                    <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                      <li role="presentation" class="divider"></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                    </ul>
                </li>
            </ul>
            -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
